.menu {
  font-size: 20px;
  font-style: normal;
  font-weight: $font-medium;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;

  @media (min-width: $tablet) {
    font-size: 18px;
    font-weight: $font-regular;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: normal;
    background-color: $basic-green;
  }
}

.menu__item {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    position: relative;

    &:nth-child(n) {
      border: none;
    }

    &--current::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $basic-green;
    }

    &:hover::after {
      opacity: 0.6;
    }
  }

  @media (min-width: $desktop) {
    &--current::after {
      background-color: $basic-white;
    }
  }
}

.menu__link {
  display: inline-block;
  width: 100%;
  padding: 21px 0;
  color: inherit;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    color: $basic-white;
  }
}
