// viewports
$mobile-only: 767px;
$tablet: 768px;
$desktop: 1240px;

// colors
$basic-text: #444444;
$basic-black: #000000;
$basic-white: #ffffff;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$bg-light: #eaeaea;

// font and typography
$main-font: "Oswald", "Arial", sans-serif;
$font-regular: 400;
$font-medium: 500;
